
.content-box {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

a.external {
    background-image: url(https://de.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/link-external-small-ltr-progressive.svg?fb64d);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.857em;
    padding-right: 1em
}

.callout {
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.5em;
}

.callout-bordered {
    border: 4px solid;
}

.callout-bordered-left {
    border-left: 4px solid;
}

.callout-basic {
    background-color: #f0f0f0;
    border-color: #000000;
}

.callout-quote {
    background-color: #f0f0f0;
    border-color: #d0d0d0;
}

.callout-note {
    background-color: #f0f8ff;
    border-color: #add8e6;
}

.callout-info {
    background-color: #f0fff0;
    border-color: #90ee90;
}

.callout-warning {
    background-color: #ffffe0;
    border-color: #ffd700;
}

.callout-error {
    background-color: #ffe0e0;
    border-color: #ff6961;
}
